.discord-grid{
    margin: 10px;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fill,minmax(260px, 1fr) );


    text-align: center;
}


.discord-container{
    
    background-color: rgb(64, 64, 64);
    border-radius: 30px;
    height: 100%;
}
.discord-img{
    padding-bottom: 10px;
    width: 60%;
    border-radius: 40px;
}
.discord-join-btn{
    padding: 0px;
    font-size: 2rem;
    background-color: rgb(129, 234, 129);

    border: 0;
    height: 10%;
    width: 40%;
    border-radius: 10px;

    display: inline-flex;
    justify-content: center; 
    align-items: center; 

    cursor: pointer;


    margin-top: 10px;
    margin-bottom: 10px;

}