.donaties-grid{
    margin: 20px;

    justify-content: center;
    align-content: center;
    
    

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit,minmax(450px, 1fr) );

}
.donaties{
    width: 90%;
    margin: 0 auto;
}
.donatie-container{
    background-color:rgb(64, 64, 64) ;

    display: flex;
    justify-content: center;
    align-items: center;



    width: 100%;

    border-radius: 20px;
    position: relative;

    transition-duration: 150ms;
}
.donatie-container:hover{
    transition-timing-function: ease;
}


.car-img{
    width: 100%;
    height: 100%;
    
    transition-duration: 150ms;
    border-radius: 20px;

}

.donatie-container:hover .car-img{

    transition-timing-function: ease;
    filter: brightness(1.7);

}


.car-name{
    position: absolute;
    top: 10%;
    font-size: 2rem;

    opacity: 0;

    transition-delay: 200ms;
    transition-duration: 250ms;
}

.donatie-container:hover .car-name{
    transition-timing-function: ease-in;
    opacity: 1;
}

.car-info{
    opacity: 0;



    z-index: 1;

    height: 100%;
    width: 100%;

    position: absolute;

    display: inline-flex;
    justify-content: center; 
    align-items: center; 

    transition-duration: 200ms;

}



.donatie-container:hover .car-info{
    transition-delay: 500ms;
    transition-duration: 300ms;


    transition-timing-function: ease;
    opacity: 1;

}

.car-buy-button{
    bottom: 5%;

    font-size: 1.2rem;

    color: white;

    border: 0;
    
    cursor: pointer;

    height: 12%;
    width: 20%;

    border-radius: 20px;

    position: absolute;

    background-color: #3ba55d;

    transition-duration: 500ms;
}
.car-buy-button:hover{
    transition-timing-function: ease;
    background-color: #2a7943;
}