h1,h2,h3,h4,h5,h6{
    margin: 0;
}



.filled{
    height: 100%;
    width: 100%;
}

.doneren-car-grid{
    margin-top: 10px;
    padding-bottom: 15px;

    margin: 15px;

    justify-content: center;
    align-content: center;


    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit,minmax(450px, 1fr));

}
.doneren{
    width: 90%;
    margin: 0 auto;
}
.donatie-car-container{
    cursor: default;


    
    color: var(--text-color);

    background-color:rgb(75, 74, 74) ;

    display: flex;
    justify-content: center;
    align-items: center;



    width: 100%;

    border-radius: 20px;
    position: relative;


}



.car-img{
    width: 100%;
    height: 100%;
    

    border-radius: 20px;

    filter: brightness(1.5);


}

.donatie-car-container:hover .car-img{


    transition-timing-function: ease;

    filter: blur(2px);

}


.car-name{
    position: absolute;
    top: 10%;
    font-size: 2rem;

    opacity: 0;

    transition-duration: 200ms;
}

.donatie-car-container:hover .car-name{
    transition-timing-function: ease-in;
    opacity: 1;
}

.car-info{
    opacity: 0;

    width: 100%;
    height: 100%;

    z-index: 1;



    position: absolute;

    display: inline-flex;
    justify-content: center; 
    align-items: center; 

    transition-duration: 200ms;

}




.donatie-car-container:hover .car-info{
    transition-duration: 300ms;


    transition-timing-function: ease;
    opacity: 1;

}

.car-buy-button{
    bottom: 5%;

    font-size: 1.2rem;

    color: white;

    border: 0;
    
    cursor: pointer;

    height: 12%;
    width: 20%;

    border-radius: 20px;

    position: absolute;

    background-color: #3ba55d;

    transition-duration: 500ms;
}
.car-buy-button:hover{
    transition-timing-function: ease;
    background-color: #2a7943;
}
.car-doneren{
    border-radius: 20px;

    margin-top: 20px;
    background-color: rgb(64, 64, 64);

    text-align: center;
}

.kenteken-doneren{
    border-radius: 20px;

    margin-top: 20px;
    padding: 10px;
    background-color: #3b3b3b;

    text-align: center;
}
.doneren-kenteken-grid{
    margin-top: 10px;

    justify-content: center;
    align-content: center;


    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit,minmax(350px, 1fr) );

}


.donatie-kenteken-container{

    
    cursor: pointer;

    border-radius: 20px;

    font-size: 1.5rem;

    position: relative;

    color: var(--text-color);
    text-decoration: none;
    background-color:rgb(75, 74, 74) ;

    transition-duration: 200ms;
}
.donatie-kenteken-container:hover{
    background-color: rgb(52, 52, 52);
}
.price{
    font-size: 1.2rem;
    color: #2a7943;
}

@media only screen and (max-width: 600px) {
    .doneren-car-grid{
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    }
    .doneren-kenteken-grid{
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr) );
    }
    .doneren{
        width: 100%;
    }
    .donatie-car-container .car-name{
        opacity: 1;
    }

}