:root {
    font-size: 16;
    font-family: "Roboto";



    --background-color: rgb(43, 43, 43);
    --text-color: rgb(197, 196, 196);
    --selected-color: rgb(219, 21, 28);

    --nav-selected-color: rgb(105, 6, 11);
    --nav-text-color: rgb(255, 254, 254);
    --nav-background-color: rgb(236, 28, 36);
}

body {

    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;

    color: var(--text-color);
    background-color: var(--background-color);

}



::-webkit-scrollbar {
    display: none;
}


.navbar {
    background-color: var(--nav-background-color);
    height: 4rem;
    width: 100vw;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item-logo {
    margin-left: auto;
    padding-right: 1vw;
    padding-left: 5vw;
}

.nav-item {
    font-family: 'Fredoka One', cursive;


    width: 15rem;
    transition: 250ms;
}

.nav-item:hover {
    transition-timing-function: ease;
    background-color: var(--nav-selected-color);
}

.nav-link {

    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    height: 4rem;
    display: flex;
    color: var(--nav-text-color);
    text-decoration: none;
}

.nav-logo {
    filter: brightness(0) invert(1);
    height: 90%;
    transition-duration: 500ms;
}

.nav-logo:hover {

    transition-timing-function: ease;
    filter: brightness(0) invert(0);
}